<header class="navbar navbar-static-top bs-docs-nav">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index' classNames='navbar-brand'}}EmberStrap{{/link-to}}
    </div>

    <div class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Components{{/link-to}}</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="//github.com/pierrickrouxel/ember-strap">
            <span class="fa fa-github"></span> Github
          </a>
        </li>
        <li>
          <a href="//github.com/pierrickrouxel/ember-strap/releases" target="_blank">
            <span class="fa fa-download"></span> {{version}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</header>

<div class="bs-docs-header">
  <div class="container">
    <h1>EmberStrap</h1>
    <p>Ember wrapper for Twitter Bootstrap 3</p>
    <img src="assets/images/ember-strap.png">
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      {{partial 'getting-started'}}
      {{partial 'modal'}}
      {{partial 'tooltip'}}
      {{partial 'popover'}}
      {{partial 'scrollspy'}}
      {{partial 'affix'}}
    </div>

    <div class="col-md-3">
      {{#es-affix offset="333" classNames="bs-docs-sidebar hidden-print"}}
        <ul class="nav bs-docs-sidenav">
          <li><a href="#getting-started">Getting started</a></li>
          <hr>
          <li><a href="#modal">Modal</a></li>
          <li><a href="#tooltip">Tooltip</a></li>
          <li><a href="#popover">Popover</a></li>
          <li><a href="#scrollspy">Scrollspy</a></li>
          <li><a href="#affix">Affix</a></li>
          <a class="back-to-top" href="#" {{action 'scrollTop'}}>Back to top</a>
        </ul>
      {{/es-affix}}
    </div>
  </div>
</div>

<footer class="bs-docs-footer">
  <div class="container">
    <p>Designed and built by <a href="//github.com/pierrickrouxel" target="_blank">Pierrick Rouxel</a>.</p>
    <hr>
    <p>Using <a href="//twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a> and the <a href="//getbootstrap.com/" target="_blank">Bootstrap's docs styles</a> designed and built by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
    <p>Code licensed under <a href="//github.com/pierrickrouxel/ember-strap/blob/master/LICENSE.md" target="_blank">The MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
  </div>
</footer>
